.movies-card-list {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 237px;
  gap: 14px;
  grid-auto-columns: 300px;
  grid-auto-rows: 237px;
  justify-content: center;
  grid-auto-flow: row;
  grid-auto-rows: 237px;
  padding: 40px 0 26px;
}

.movies-card-list__more-films {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 166px;
  padding: 50px 0 0 0;
}

.movies-card-list__more-films-button {
  width: 240px;
  height: 36px;
  padding: 0;
  background-color: #F9F9F9;
  border: 0;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  transition: opacity .1s linear;
}

.movies-card-list__more-films-button:hover {
  opacity: .8;
  cursor: pointer;
}

.movies-card-list__more-films-button:active {
  opacity: 1;
}

@media (min-width: 767px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 339px);
    grid-template-rows: 262px;
    gap: 30px;
    grid-auto-flow: row;
    grid-auto-rows: 262px;
    padding: 70px 0 30px;
  }

  .movies-card-list__more-films-button {
    width: 320px;
  }
}

@media (min-width: 1279px) {
  .movies-card-list {
    grid-template-columns: repeat(3, 364px);
    grid-template-rows: 281px;
    row-gap: 37px;
    column-gap: 24px;
    grid-auto-flow: row;
    grid-auto-rows: 281px;
    padding: 70px 0 10px;
  }
}