.nav-bar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100vw);
  transition: transform .2s linear;
}

.nav-bar__overlay {
  transition: background-color .2s linear;
}

.nav-bar__overlay_opened {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}

.nav-bar__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 100;
}

.nav-bar_opened {
  transform: translateX(0);
}

.nav-bar__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  align-self: flex-end;
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  height: 22px;
  width: 22px;
  z-index: 15;
  transition: opacity .1s linear;
}

.nav-bar__close-button:hover {
  cursor: pointer;
  opacity: .7;
}

.nav-bar__close-button:before {
  position: absolute;
  content: '';
  top: 0;
  background-color: black;
  height: 22px;
  border: 1px solid black;
  transform: rotate(45deg);
}

.nav-bar__close-button:after {
  position: absolute;
  content: '';
  top: 0;
  background-color: black;
  height: 22px;
  border: 1px solid black;
  transform: rotate(-45deg);
}

.nav-bar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 144px 0 0;
  margin: 0;
  list-style: none;
}

.nav-bar__link-container {
  width: max-content;
  text-align: center;
  margin: 0 0 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.nav-bar__link {
  color: black;
  text-decoration: none;
  transition: opacity .1s linear;
}

.nav-bar__link:hover {
  opacity: 0.7;
}

.nav-bar__link:active {
  opacity: 1;
}

.nav-bar__link_active::after {
  content: '';
  position: relative;
  display: block;
  top: 7px;
  border-bottom: 2px solid black;
}

.nav-bar__account {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 48px;
  width: 100px;
  height: 32px;
}

.nav-bar__account-link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  transition: opacity .1s linear;
}

.nav-bar__account-link:hover {
  opacity: 0.7;
}

.nav-bar__account-link:active {
  opacity: 1;
}

.nav-bar__account-img-container {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #F9F9F9;
  border-radius: 6px;
  margin: 0 0 0 13px;
}

.nav-bar__account-img {
  align-self: center;
}

@media (min-width: 767px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .nav-bar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    height: 100vh;
    background-color: white;
    z-index: 10;
  }

  .nav-bar__close-button {
    top: 29px;
    right: 29px;
  }

  .nav-bar__list {
    padding: 108px 0 0;
  }

  .nav-bar__link-container {
    margin: 0 0 28px;
  }

  .nav-bar__link_active::after {
    top: 4px;
  }

  .nav-bar__account {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 92px;
    width: 100px;
    height: 32px;
  }

  .nav-bar__account-link {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    transition: opacity .1s linear;
  }

  .nav-bar__account-link:hover {
    opacity: 0.7;
  }

  .nav-bar__account-link:active {
    opacity: 1;
  }

  .nav-bar__account-img-container {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #F9F9F9;
    border-radius: 6px;
    margin: 0 0 0 13px;
  }

  .nav-bar__account-img {
    align-self: center;
  }
}

@media (min-width: 1023px) {
  .nav-bar {
    display: none;
  }
}